<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="">VtM Builder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <NavLink class="nav-link dropdown-toggle" href="characters" id="navbarDropdown" role="button" data-toggle="dropdown">
                    Characters
                </NavLink>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <NavLink class="nav-link" href="characters">
                        <div>
                            <i class="bi bi-people-fill"></i>
                            <span>Characters</span>
                        </div>
                    </NavLink>
                    <div class="dropdown-divider bg-light"></div>
                    <NavLink class="nav-link" href="characters/new">
                        <div>
                            <i class="bi bi-person-plus-fill"></i>
                            <span>Create New</span>
                        </div>
                    </NavLink>
                </div>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
        </ul>
    </div>
</nav>