@page "/characters"
@inherits VtMBuilder.Web.Components.CharactersBase

@if (Characters == null)
{
    <h3>Loading Characters...</h3>
}
else
{
    <h3 class="mb-5">Characters</h3>
    var characterCount = Characters.Count();
    if (characterCount > 0)
    {
        const int itemsPerRow = 4;

        for (int i = 0; i < characterCount; i++)
        {
            var charRowList = Characters.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

            <div class="row mt-3">
                <DisplayCharacters Characters="@charRowList"/>
            </div>
        }
    }
}