.form-control{
    border: none;
}
.form-control:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.form-select{
    border: none;
}
.form-select:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.border-character{
    border: 0.3rem double crimson;
    border-radius: 1rem;
    padding: 1rem;
}